@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 0 0% 13%;
    --radius: 1rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 60 9.1% 97.8%;
    --card: 0 0% 13%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 0 0% 13%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 0 0% 62%;
    --accent: 283 99% 35%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 283 99% 35%;
    --input: 12 6.5% 15.1%;
    --ring: 283 99% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground relative overflow-x-hidden;
    ::selection {
      @apply bg-[#8001b2] text-[#fff];
    }

    ::marker {
      @apply text-[#9254ab];
    }
  }

  h1 {
    @apply text-xl md:text-2xl lg:text-5xl font-bold mb-4;
  }

  h2 {
    @apply text-lg md:text-xl lg:text-4xl font-bold mb-4;
  }

  strong {
    @apply font-[900] dark:text-[#ffffffea] text-foreground;
  }

  .min-h-custom {
    @apply min-h-[calc(100vh-56px)];
  }

  main {
    @apply container;
  }

  article {
    p {
      @apply dark:text-[#d2cfd3d3] font-[400] text-xs md:text-sm lg:text-lg my-4;
    }

    a {
      @apply cursor-pointer dark:hover:text-[#0084ff] text-[#0084ff] hover:text-[#80bffa] dark:text-[#80bffa];
    }

    ul,
    ol {
      @apply pl-8 my-4 font-normal dark:text-[#d2cfd3d3];
    }

    ul {
      > li {
        @apply list-square;
      }
    }

    ol {
      > li {
        @apply list-decimal;
      }
    }

    li {
      > s {
        @apply text-[#545454];
      }
    }
  }

  blockquote {
    @apply relative font-[800] italic tracking-[2px] py-[30px] px-0 max-w-[100%] z-[1] my-4 mx-auto border-t-[3px] border-t-accent border-b-[3px] border-b-accent bg-transparent;

    p {
      @apply text-foreground;
    }
  }

  .embeded-iframe {
    > .raw-html-embed {
      @apply relative overflow-hidden w-full pt-[56.25%] my-4 rounded-sm;

      > iframe {
        @apply absolute inset-0 w-full h-full;

        > .fb {
          @apply h-full relative;
        }
      }
    }
  }
}
